[Desktop Entry]
Version=1.0
Name=A Web Browser 3.2
Comment=Browse the World Wide Web
GenericName=Web Browser 3.2
Exec=abrowser-3.2 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=abrowser-3.2
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
