Source: firefox-trunk
Section: web
Priority: optional
Maintainer: Ubuntu Mozilla Team <ubuntu-mozillateam@lists.ubuntu.com>
Vcs-Bzr: https://code.launchpad.net/~mozillateam/firefox/firefox-trunk.head
Build-Depends: cdbs,
	debhelper (>= 5),
	m4,
	autotools-dev,
	autoconf2.13,
	quilt,
	zip,
	libx11-dev,
	libxt-dev,
	libxext-dev,
	libgtk2.0-dev (>= 2.10),
	libglib2.0-dev,
	libpango1.0-dev (>= 1.14.0),
	libidl-dev (>= 0.8.0),
	libfontconfig1-dev,
	libgconf2-dev (>= 1.2.1),
	libgnomeui-dev (>= 2.2.0),
	libstartup-notification0-dev,
	libasound2-dev,
	libcurl4-openssl-dev,
	libdbus-glib-1-dev (>= 0.60),
	mozilla-devscripts (>= 0.10~),
	hardening-wrapper,
	lsb-release,
	libiw-dev,
	mesa-common-dev,
	libnotify-dev (>= 0.4),  
	libxrender-dev, 
	libfreetype6-dev,
	libgnomevfs2-dev (>= 1:2.0),
        yasm (>= 1.1),
	xvfb,
	imagemagick,
	libdbusmenu-gtk-dev
Standards-Version: 3.9.1

Package: firefox-trunk
Architecture: any
Depends: lsb-release,
	${misc:Depends},
	${shlibs:Depends}
Recommends: xul-ext-ubufox,
	firefox-trunk-globalmenu
Provides: www-browser,
	iceweasel,
	gnome-www-browser
Suggests: firefox-trunk-gnome-support | firefox-kde-support,
	latex-xft-fonts,
	libthai0
XB-Xul-AppId: {ec8030f7-c20a-464f-9b0e-13a3a9e97384}
Description: Safe and easy web browser from Mozilla
 Firefox delivers safe, easy web browsing. A familiar user interface,
 enhanced security features including protection from online identity theft,
 and integrated search let you get the most out of the web.

Package: firefox-trunk-gnome-support
Architecture: any
Section: gnome
Depends: ${shlibs:Depends}, 
	${misc:Depends}, 
	firefox-trunk
Description: Safe and easy web browser from Mozilla - GNOME support
 Firefox delivers safe, easy web browsing. A familiar user interface,
 enhanced security features including protection from online identity theft,
 and integrated search let you get the most out of the web.
 .
 This package depends on the GNOME libraries which allow Firefox to take
 advantage of technologies such as GConf, GIO libnotify

Package: firefox-trunk-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${shlibs:Depends}, 
	${misc:Depends}, 
	firefox-trunk (= ${binary:Version})
Description: Safe and easy web browser from Mozilla - debug symbols
 Firefox delivers safe, easy web browsing. A familiar user interface,
 enhanced security features including protection from online identity theft,
 and integrated search let you get the most out of the web.
 .
 This package contains the debugging symbols for the Firefox web
 browser

Package: firefox-trunk-dev
Architecture: any
Section: devel
Priority: extra
Depends: ${shlibs:Depends},
	${misc:Depends},
	firefox-trunk (= ${binary:Version}),
	${nspr:Depends},
	${nss:Depends},
	${cairo:Depends}
Conflicts: xulrunner-2.0-dev,
	xulrunner-1.9.2-dev
Description: Safe and easy web browser from Mozilla - development files
 Firefox delivers safe, easy web browsing. A familiar user interface,
 enhanced security features including protection from online identity theft,
 and integrated search let you get the most out of the web.
 .
 This package contains the headers and SDK for building plugins with Firefox

Package: firefox-trunk-mozsymbols
Architecture: amd64 i386 armel
Section: debug
Priority: extra
Depends: ${shlibs:Depends}, 
	${misc:Depends}
Description: Safe and easy web browser from Mozilla - Breakpad symbols
 Firefox delivers safe, easy web browsing. A familiar user interface,
 enhanced security features including protection from online identity theft,
 and integrated search let you get the most out of the web.
 .
 This package contains the Firefox symbols in a format expected by Mozilla's
 Breakpad. Eventually this package should go away and the symbol upload be
 implemented in soyuz (or other builders that build this package)

Package: firefox-trunk-globalmenu
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	firefox-trunk (= ${binary:Version})
Description: Unity appmenu integration for Firefox
 This package provides an extension which adds support for the Unity
 appmenu to Firefox 

# Language packs below here

Package: firefox-trunk-locale-af
Architecture: all
Description: Afrikaans language pack for Firefox
 This package contains Afrikaans translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ar
Architecture: all
Description: Arabic language pack for Firefox
 This package contains Arabic translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ast
Architecture: all
Description: Asturian language pack for Firefox
 This package contains Asturian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-be
Architecture: all
Description: Belarusian language pack for Firefox
 This package contains Belarusian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-bg
Architecture: all
Description: Bulgarian language pack for Firefox
 This package contains Bulgarian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-bn
Architecture: all
Description: Bengali language pack for Firefox
 This package contains Bengali translations and search plugins
 for Firefox

Package: firefox-trunk-locale-br
Architecture: all
Description: Breton language pack for Firefox
 This package contains Breton translations and search plugins
 for Firefox

Package: firefox-trunk-locale-bs
Architecture: all
Description: Bosnian language pack for Firefox
 This package contains Bosnian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ca
Architecture: all
Description: Catalan; Valencian language pack for Firefox
 This package contains Catalan; Valencian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-cs
Architecture: all
Description: Czech language pack for Firefox
 This package contains Czech translations and search plugins
 for Firefox

Package: firefox-trunk-locale-cy
Architecture: all
Description: Welsh language pack for Firefox
 This package contains Welsh translations and search plugins
 for Firefox

Package: firefox-trunk-locale-da
Architecture: all
Description: Danish language pack for Firefox
 This package contains Danish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-de
Architecture: all
Description: German language pack for Firefox
 This package contains German translations and search plugins
 for Firefox

Package: firefox-trunk-locale-el
Architecture: all
Description: Greek language pack for Firefox
 This package contains Greek translations and search plugins
 for Firefox

Package: firefox-trunk-locale-en
Architecture: all
Description: English language pack for Firefox
 This package contains English translations and search plugins
 for Firefox

Package: firefox-trunk-locale-eo
Architecture: all
Description: Esperanto language pack for Firefox
 This package contains Esperanto translations and search plugins
 for Firefox

Package: firefox-trunk-locale-es
Architecture: all
Description: Spanish; Castilian language pack for Firefox
 This package contains Spanish; Castilian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-et
Architecture: all
Description: Estonian language pack for Firefox
 This package contains Estonian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-eu
Architecture: all
Description: Basque language pack for Firefox
 This package contains Basque translations and search plugins
 for Firefox

Package: firefox-trunk-locale-fa
Architecture: all
Description: Persian language pack for Firefox
 This package contains Persian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-fi
Architecture: all
Description: Finnish language pack for Firefox
 This package contains Finnish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-fr
Architecture: all
Description: French language pack for Firefox
 This package contains French translations and search plugins
 for Firefox

Package: firefox-trunk-locale-fy
Architecture: all
Description: Western Frisian language pack for Firefox
 This package contains Western Frisian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ga
Architecture: all
Description: Irish language pack for Firefox
 This package contains Irish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-gd
Architecture: all
Description: Gaelic; Scottish Gaelic language pack for Firefox
 This package contains Gaelic; Scottish Gaelic translations and search plugins
 for Firefox

Package: firefox-trunk-locale-gl
Architecture: all
Description: Galician language pack for Firefox
 This package contains Galician translations and search plugins
 for Firefox

Package: firefox-trunk-locale-gu
Architecture: all
Description: Gujarati language pack for Firefox
 This package contains Gujarati translations and search plugins
 for Firefox

Package: firefox-trunk-locale-he
Architecture: all
Description: Hebrew language pack for Firefox
 This package contains Hebrew translations and search plugins
 for Firefox

Package: firefox-trunk-locale-hi
Architecture: all
Description: Hindi language pack for Firefox
 This package contains Hindi translations and search plugins
 for Firefox

Package: firefox-trunk-locale-hr
Architecture: all
Description: Croatian language pack for Firefox
 This package contains Croatian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-hu
Architecture: all
Description: Hungarian language pack for Firefox
 This package contains Hungarian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-hy
Architecture: all
Description: Armenian language pack for Firefox
 This package contains Armenian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-id
Architecture: all
Description: Indonesian language pack for Firefox
 This package contains Indonesian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-is
Architecture: all
Description: Icelandic language pack for Firefox
 This package contains Icelandic translations and search plugins
 for Firefox

Package: firefox-trunk-locale-it
Architecture: all
Description: Italian language pack for Firefox
 This package contains Italian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ja
Architecture: all
Description: Japanese language pack for Firefox
 This package contains Japanese translations and search plugins
 for Firefox

Package: firefox-trunk-locale-kk
Architecture: all
Description: Kazakh language pack for Firefox
 This package contains Kazakh translations and search plugins
 for Firefox

Package: firefox-trunk-locale-kn
Architecture: all
Description: Kannada language pack for Firefox
 This package contains Kannada translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ko
Architecture: all
Description: Korean language pack for Firefox
 This package contains Korean translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ku
Architecture: all
Description: Kurdish language pack for Firefox
 This package contains Kurdish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-lg
Architecture: all
Description: Ganda language pack for Firefox
 This package contains Ganda translations and search plugins
 for Firefox

Package: firefox-trunk-locale-lt
Architecture: all
Description: Lithuanian language pack for Firefox
 This package contains Lithuanian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-lv
Architecture: all
Description: Latvian language pack for Firefox
 This package contains Latvian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-mai
Architecture: all
Description: Maithili language pack for Firefox
 This package contains Maithili translations and search plugins
 for Firefox

Package: firefox-trunk-locale-mk
Architecture: all
Description: Macedonian language pack for Firefox
 This package contains Macedonian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ml
Architecture: all
Description: Malayalam language pack for Firefox
 This package contains Malayalam translations and search plugins
 for Firefox

Package: firefox-trunk-locale-mr
Architecture: all
Description: Marathi language pack for Firefox
 This package contains Marathi translations and search plugins
 for Firefox

Package: firefox-trunk-locale-nb
Architecture: all
Description: Bokmål, Norwegian; Norwegian Bokmål language pack for Firefox
 This package contains Bokmål, Norwegian; Norwegian Bokmål translations and search plugins
 for Firefox

Package: firefox-trunk-locale-nl
Architecture: all
Description: Dutch; Flemish language pack for Firefox
 This package contains Dutch; Flemish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-nn
Architecture: all
Description: Norwegian Nynorsk; Nynorsk, Norwegian language pack for Firefox
 This package contains Norwegian Nynorsk; Nynorsk, Norwegian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-nso
Architecture: all
Description: Sotho, Northern language pack for Firefox
 This package contains Sotho, Northern translations and search plugins
 for Firefox

Package: firefox-trunk-locale-or
Architecture: all
Description: Oriya language pack for Firefox
 This package contains Oriya translations and search plugins
 for Firefox

Package: firefox-trunk-locale-pa
Architecture: all
Description: Panjabi; Punjabi language pack for Firefox
 This package contains Panjabi; Punjabi translations and search plugins
 for Firefox

Package: firefox-trunk-locale-pl
Architecture: all
Description: Polish language pack for Firefox
 This package contains Polish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-pt
Architecture: all
Description: Portuguese language pack for Firefox
 This package contains Portuguese translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ro
Architecture: all
Description: Romanian language pack for Firefox
 This package contains Romanian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ru
Architecture: all
Description: Russian language pack for Firefox
 This package contains Russian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-si
Architecture: all
Description: Sinhala; Sinhalese language pack for Firefox
 This package contains Sinhala; Sinhalese translations and search plugins
 for Firefox

Package: firefox-trunk-locale-sk
Architecture: all
Description: Slovak language pack for Firefox
 This package contains Slovak translations and search plugins
 for Firefox

Package: firefox-trunk-locale-sl
Architecture: all
Description: Slovenian language pack for Firefox
 This package contains Slovenian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-sq
Architecture: all
Description: Albanian language pack for Firefox
 This package contains Albanian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-sr
Architecture: all
Description: Serbian language pack for Firefox
 This package contains Serbian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-sv
Architecture: all
Description: Swedish language pack for Firefox
 This package contains Swedish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-ta
Architecture: all
Description: Tamil language pack for Firefox
 This package contains Tamil translations and search plugins
 for Firefox

Package: firefox-trunk-locale-te
Architecture: all
Description: Telugu language pack for Firefox
 This package contains Telugu translations and search plugins
 for Firefox

Package: firefox-trunk-locale-th
Architecture: all
Description: Thai language pack for Firefox
 This package contains Thai translations and search plugins
 for Firefox

Package: firefox-trunk-locale-tr
Architecture: all
Description: Turkish language pack for Firefox
 This package contains Turkish translations and search plugins
 for Firefox

Package: firefox-trunk-locale-uk
Architecture: all
Description: Ukrainian language pack for Firefox
 This package contains Ukrainian translations and search plugins
 for Firefox

Package: firefox-trunk-locale-zh-hans
Architecture: all
Description: Simplified Chinese language pack for Firefox
 This package contains Simplified Chinese translations and search plugins
 for Firefox

Package: firefox-trunk-locale-zh-hant
Architecture: all
Description: Traditional Chinese language pack for Firefox
 This package contains Traditional Chinese translations and search plugins
 for Firefox

Package: firefox-trunk-locale-zu
Architecture: all
Description: Zulu language pack for Firefox
 This package contains Zulu translations and search plugins
 for Firefox
