Source: firefox-4.0
Section: web
Priority: optional
Maintainer: Ubuntu Mozilla Team <ubuntu-mozillateam@lists.ubuntu.com>
Vcs-Bzr: https://code.launchpad.net/~mozillateam/firefox/firefox-4.0.head
Build-Depends: cdbs, debhelper (>= 5), sharutils, m4,
	autotools-dev, autoconf2.13,
	quilt, patchutils (>= 0.2.25),
	bzip2, zlib1g-dev, zip,
	libx11-dev, libxt-dev,
	libgtk2.0-dev (>= 2.10),
	liborbit2-dev, libidl-dev (>= 0.8.0),
	libxft-dev, libfreetype6-dev,
	libpng12-dev, libjpeg62-dev,
	libxrender-dev, libxinerama-dev,
	libcairo2-dev, libpixman-1-dev,
	libgnome2-dev, libgconf2-dev, libgnomevfs2-dev, libgnomeui-dev,
	libstartup-notification0-dev,
	libasound2-dev,
	libcurl4-openssl-dev,
	libhunspell-dev,
	libdbus-glib-1-dev (>= 0.60),
	libnspr4-dev, libnss3-dev,
	mozilla-devscripts (>= 0.10~),
	hardening-wrapper,
	lsb-release,
	libiw-dev,
	mesa-common-dev,
	libnotify-dev (>= 0.4),
        yasm
Standards-Version: 3.8.1

Package: firefox-4.0
Architecture: any
Depends: firefox-4.0-core (= ${binary:Version}),
	${misc:Depends},
	${shlibs:Depends}
Provides: www-browser, iceweasel
Conflicts: firefox-4.0-branding (<= 4.0~b5~hg20100818r50769+nobinonly-0ubuntu1), 
	abrowser-4.0
Replaces: firefox-4.0-branding, 
	kubuntu-firefox-installer
Suggests: firefox-4.0-gnome-support (= ${binary:Version})
XB-Xul-AppId: {ec8030f7-c20a-464f-9b0e-13a3a9e97384}
Description: safe and easy web browser from Mozilla
 Firefox delivers safe, easy web browsing. A familiar user interface,
 enhanced security features including protection from online identity theft,
 and integrated search let you get the most out of the web.

Package: abrowser-4.0
Architecture: any
Depends: firefox-4.0-core (= ${binary:Version}), 
	${misc:Depends},
	${shlibs:Depends}
Conflicts: firefox-4.0, 
	abrowser-3.7-branding (<< 4.0~), 
	abrowser-4.0-branding (<= 4.0~b5~hg20100818r50769+nobinonly-0ubuntu1)
Replaces: abrowser-3.7-branding, 
	abrowser-4.0-branding
Suggests: abrowser-4.0-gnome-support (= ${binary:Version})
XB-Xul-AppId: {ec8030f7-c20a-464f-9b0e-13a3a9e97384}
Description: Unbranded web browser based on Mozilla
 ABrowser 4.0 is an unbranded version of the popular Firefox webbrowser;
 it is written in the XUL language and designed to be lightweight and
 cross-platform.

Package: firefox-4.0-core
Architecture: any
Depends: fontconfig,
	psmisc,
	lsb-release,
	debianutils (>= 1.16),
	${misc:Depends},
	${shlibs:Depends}
Recommends: ubufox
Suggests: latex-xft-fonts, libthai0
Replaces: firefox-4.0, 
	firefox-3.7, 
	firefox-3.6, 
	firefox-3.5, 
	firefox-3.2, 
	firefox-3.1, 
	firefox-3.0, 
	firefox-4.0-gnome-support
Conflicts: firefox-3.7 (<< 4.0~), 
	firefox-4.0-gnome-support (<= 4.0~b3~hg20100804r48791+nobinonly-0ubuntu1), 
	firefox-4.0 (<= 4.0~b5~hg20100818r50769+nobinonly-0ubuntu1)
Description: safe and easy web browser from Mozilla
 Firefox delivers safe, easy web browsing. A familiar user interface,
 enhanced security features including protection from online identity theft,
 and integrated search let you get the most out of the web.
 .
 This package contains the common components shared between the
 abrowser-4.0 and firefox-4.0 packages

Package: firefox-4.0-gnome-support
Architecture: any
Section: gnome
Depends: ${shlibs:Depends}, 
	${misc:Depends}, 
	firefox-4.0 (= ${binary:Version})
Provides: gnome-www-browser
Replaces: firefox-3.7-gnome-support
Conflicts: abrowser-4.0-gnome-support, 
	firefox-3.7-gnome-support (<< 4.0~)
Description: Support for GNOME in Mozilla Firefox
 This is an extension to Firefox that allows it to use protocol
 handlers from GnomeVFS, such as smb or sftp, and other GNOME
 integration features.

Package: abrowser-4.0-gnome-support
Architecture: any
Section: gnome
Depends: ${shlibs:Depends}, 
	${misc:Depends}, 
	abrowser-4.0 (= ${binary:Version})
Provides: gnome-www-browser
Conflicts: firefox-4.0-gnome-support
Description: Support for GNOME in ABrowser
 This is an extension to ABrowser that allows it to use protocol
 handlers from GnomeVFS, such as smb or sftp, and other GNOME
 integration features.

Package: firefox-4.0-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${shlibs:Depends}, 
	${misc:Depends}, 
	firefox-4.0 (= ${binary:Version}) | abrowser-4.0 (= ${binary:Version})
Replaces: firefox-3.7-dbg
Conflicts: firefox-3.7-dbg (<< 4.0~)
Description: firefox-4.0 debug symbols
 Debug symbols for Firefox 4.0.

Package: firefox-4.0-mozsymbols
Architecture: amd64 i386 armel
Section: debug
Priority: extra
Depends: ${shlibs:Depends}, 
	${misc:Depends}
Description: firefox debug symbols for mozilla
 package containing the firefox symbols in a format expected by mozilla's
 breakpad. eventually this package should go away and the symbol upload be
 implemented in soyuz (or other builders that build this package)

# Transitional packages below here

Package: firefox-4.0-branding
Architecture: any
Depends: firefox-4.0, ${misc:Depends}
Description: Transitional package to pull in firefox-4.0

Package: firefox-4.0-gnome-support-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, firefox-4.0-dbg (= ${binary:Version})
Description: Transitional package to pull in firefox-4.0-dbg

Package: abrowser-4.0-branding
Architecture: all
Depends: abrowser-4.0, ${misc:Depends}
Description: Transitional package to pull in abrowser-4.0

Package: firefox-3.7
Architecture: any
Depends: firefox-4.0-core, ${misc:Depends}
Description: Transitional package from 3.7 to 4.0

Package: firefox-3.7-branding
Architecture: any
Depends: firefox-4.0, ${misc:Depends}
Description: Transitional package from 3.7 to 4.0

Package: firefox-3.7-gnome-support
Architecture: any
Depends: firefox-4.0-gnome-support, ${misc:Depends}
Description: Transitional package from 3.7 to 4.0

Package: firefox-3.7-dbg
Architecture: any
Depends: firefox-4.0-dbg, ${misc:Depends}
Description: Transitional package from 3.7 to 4.0

Package: firefox-3.7-gnome-support-dbg
Architecture: any
Depends: firefox-4.0-dbg, ${misc:Depends}
Description: Transitional package from 3.7 to 4.0

Package: abrowser-3.7
Architecture: all
Depends: abrowser-4.0, ${misc:Depends}
Description: Transitional package from 3.7 to 4.0

Package: abrowser-3.7-branding
Architecture: any
Depends: abrowser-4.0, ${misc:Depends}
Description: Transitional package from 3.7 to 4.0
