[Desktop Entry]
Version=1.0
Name=Firefox 3.7 Web Browser (alpha)
Comment=Browse the World Wide Web
GenericName=Web Browser
Exec=firefox-3.7 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-3.7
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
