[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Minefield 4.0 Web Browser
Comment=Browse the Bleeding Edge
GenericName=Bleed Browser
Exec=firefox-4.0 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-4.0
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png
StartupWMClass=Minefield
StartupNotify=true
