[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Granparadiso Web Browser
Comment=Firefox 4.0 Alpha
GenericName=Preview Browser
Exec=firefox-4.0 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-4.0
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox-4.0-bin
StartupNotify=true
GenericName[it_IT]=Bleed Browser
