[Desktop Entry]
Version=1.0
Name=Shiretoko Web Browser
Comment=Firefox 3.6 Beta
GenericName=Preview Browser
Exec=firefox-3.6 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-3.6
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
