[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Firefox Web Browser
Comment=Firefox 3.0
GenericName=Web Browser
Exec=firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-3.0
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
GenericName[it_IT]=Bleed Browser
Name[pl_PL]=Przeglądarka WWW Firefox
GenericName[pl_PL]=Przeglądarka WWW
