#!/usr/bin/make -f

MOZ_CVS_ROOT := :pserver:anonymous@cvs-mirror.mozilla.org:/cvsroot

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_BUILD_ARCH  ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

DEBIAN_NAME := firefox-3.0
DEBIAN_VERSION := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\(.*\)$$/\1/ p')
DEBIAN_UPSTREAM_VERSION := $(shell echo $(DEBIAN_VERSION) | sed 's/^\(.*\)-[^-]*$$/\1/')
DEBIAN_REV_CODE := $(shell echo $(DEBIAN_VERSION) | sed 's/^.*-\([0-9]*\)[^-]*$$/0\1/ ; s/^.*\(..\)$$/\1/')
DEBIAN_DATE ?= $(shell echo $(DEBIAN_VERSION) | sed 's/^.*cvs\([0-9]*\).*$$/\1/')
DEBIAN_XUL_DEV := $(shell echo /usr/lib/xulrunner-devel-1.9*)

DEB_TAR_SRCDIR		:= mozilla

EXTRA_SYSTEM_CONFIGURE_FLAGS = $(NULL)

DEV_PACKAGE_INDICATION = $(findstring ~cvs,$(DEBIAN_VERSION))$(findstring ~mt,$(DEBIAN_VERSION))

ifneq (,$(DEV_PACKAGE_INDICATION))
	EXTRA_SYSTEM_CONFIGURE_FLAGS = \
		--with-system-nspr \
		--with-system-nss \
		$(NULL)
endif

# Change branding based on Version
ifneq (,$(findstring ~cvs,$(DEBIAN_VERSION)))
        # minefield branding for cvs snapshots
	BRANDING = $(NULL)
	DESKTOP  = firefox-3.0-minefield.desktop
else
ifneq (,$(findstring ~a,$(DEBIAN_VERSION))$(findstring ~b,$(DEBIAN_VERSION)))
        # codename branding for alpha and beta builds
	BRANDING = --with-branding=browser/branding/unofficial
	DESKTOP  = firefox-3.0-granparadiso.desktop
else
	# official branding for final and final RCs
	BRANDING = --with-branding=browser/branding/unofficial
	DESKTOP  = firefox-3.0-final.desktop
endif
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        OPTFLAGS = -O0
else
        OPTFLAGS = -O2 -fno-strict-aliasing
endif

OPTFLAGS += -g

CXX=g++-4.2
CC=gcc-4.2
export CXX CC 

DEB_AUTO_UPDATE_AUTOCONF=2.13

include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_AUTO_UPDATE_DEBIAN_CONTROL=0
DEB_MOZ_APPLICATION=browser

DEB_CONFIGURE_USER_FLAGS= \
	$(EXTRA_SYSTEM_CONFIGURE_FLAGS) \
	--disable-debug \
        --with-default-mozilla-five-home=$(LIB_DIR) \
        --with-user-appdir=.mozilla \
        --with-system-jpeg=/usr \
        --with-system-zlib=/usr \
        --with-libxul-sdk=$(DEBIAN_XUL_DEV) \
        --disable-crashreporter \
        --disable-composer \
        --disable-debug \
        --disable-elf-dynstr-gc \
        --disable-gtktest \
        --disable-install-strip \
        --disable-installer \
        --disable-ldap \
        --disable-mailnews \
        --disable-profilesharing \
        --disable-strip \
        --disable-strip-libs \
        --disable-tests \
        --disable-mochitest \
        --disable-updater \
        --disable-xprint \
        --enable-application=browser \
        --enable-canvas \
        --enable-default-toolkit=cairo-gtk2 \
        --enable-gnomevfs \
        --enable-optimize="-pipe -w $(OPTFLAGS)" \
        --enable-pango \
        --enable-postscript \
        --enable-svg \
        --enable-mathml \
        --enable-xft \
        --enable-xinerama \
        --enable-extensions=default \
        --enable-single-profile \
        --enable-system-myspell \
        --with-distribution-id=com.ubuntu \
	$(BRANDING)

USE_SYSTEM_CAIRO := $(shell pkg-config --exists 'cairo >= 1.4.0'; a=$$?; if test $$a != 1; then echo 1; fi)

# disabled as of 3.0a7 because of the infamous assert() on shutdown with Gutsy's libcairo-1.4.10 	
USE_SYSTEM_CAIRO=0 	

# for old cairo versions we cannot use system cairo
ifeq (1, $(USE_SYSTEM_CAIRO))
   DEB_CONFIGURE_USER_FLAGS += \
        --enable-system-cairo
else
   DEB_CONFIGURE_USER_FLAGS += \
        --disable-system-cairo
endif

UUDECODE = \
	debsearch.gif \
	wikipedia.gif \
	$(NULL)

DEBIAN_EXECUTABLES = \
	firefox.sh \
	$(NULL)

binary-install/firefox-3.0::
	dh_link usr/lib/xulrunner-addons usr/lib/firefox-3.0/extensions

pre-build::
	set -e; for i in $(UUDECODE); do \
		uudecode -o debian/$$i debian/$$i.uu; \
		done ; \
		cp debian/$(DESKTOP) debian/firefox-3.0.desktop; \
		for i in $(DEBIAN_EXECUTABLES); do \
			chmod a+x debian/$$i; \
		done

clean::
	set -e; for i in $(UUDECODE); do \
		rm -f debian/$$i; \
		done ; \
		rm -f debian/firefox-3.0.desktop

date := $(shell date +%Y%m%d)

mozilla:
ifeq (HEAD, $(DEBIAN_DATE))
	set -e; sh -c "cvs -d$(MOZ_CVS_ROOT) co mozilla/client.mk; cd mozilla && make -f client.mk checkout MOZ_CO_PROJECT=$(DEB_MOZ_APPLICATION)"
else
	set -e; sh -c "cvs -d$(MOZ_CVS_ROOT) co mozilla/client.mk; cd mozilla && make -f client.mk checkout MOZ_CO_DATE=$(DEBIAN_DATE) MOZ_CO_PROJECT=$(DEB_MOZ_APPLICATION)"
endif
	rm -f cvsco*

$(DEB_MOZ_APPLICATION)-snapshot-%.tar.bz2: mozilla
	set -e; tar cjf $@ $^ || rm -f $@
	set -e; rm -rf $^

snapshot: $(DEB_MOZ_APPLICATION)-snapshot-$(date).tar.bz2

../$(DEBIAN_NAME)_$(DEBIAN_UPSTREAM_VERSION).orig.tar.gz: $(DEB_MOZ_APPLICATION)-snapshot-$(date).tar.bz2
	set -e; rm -rf $(DEBIAN_NAME)-$(DEBIAN_UPSTREAM_VERSION); mkdir $(DEBIAN_NAME)-$(DEBIAN_UPSTREAM_VERSION); \
		cp  $(DEB_MOZ_APPLICATION)-snapshot-$(date).tar.bz2 $(DEBIAN_NAME)-$(DEBIAN_UPSTREAM_VERSION); \
		tar cvzf $@ $(DEBIAN_NAME)-$(DEB_UPSTREAM_VERSION)/; \
		rm -rf $(DEBIAN_NAME)-$(DEBIAN_UPSTREAM_VERSION)

neworig: ../$(DEBIAN_NAME)_$(DEBIAN_UPSTREAM_VERSION).orig.tar.gz

CFLAGS =
CXXFLAGS =
